<template>
    <div class="shop">
        <Form class="shop__form"/>
        <ShopButtonKit class="shop__button-kit"/>
    </div>
</template>

<script>
import Form from './form/form'
import ShopButtonKit from './__button-kit/__button-kit'
    export default {
        name: 'Shop',
        components: {
            Form,
            ShopButtonKit
        }
    }
</script>

<style>
    .shop {
        width: 45%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-width: 500px;
    }
    
</style>
