<template>
    <div class="button-kit">
        <Button :text="'Выбрать всё'"  :disabled="emptyBucketList || everythingSelected" @click.native="selectEveryElement"/>
        <Button :text="'Выбрать ничего'" :disabled="emptyBucketList || nothingSelected" @click.native="unselectEveryElement"/>
        <Button :text="'Удалить выделенное'" :disabled="emptyBucketList || nothingSelected" @click.native="moveElementsToShop"/>
    </div>
</template>

<script>
import Button from '../../button/button'
export default {
  name: 'BucketButtonKit',
  components : {
      Button
  },
  computed: {
      emptyBucketList () {
          return this.$store.getters.emptyBucketList
      },
      everythingSelected () {
          return this.$store.getters.everythingSelected
      },
      nothingSelected () {
          return this.$store.getters.nothingSelected
      },
  },
  methods: {
    selectEveryElement : function() {
        this.$store.commit('selectEveryElement')
    },
    unselectEveryElement : function() {
        this.$store.commit('unselectEveryElement')
    },
    moveElementsToShop : function() {
        this.$store.dispatch('moveElementsToShop')
    }   
  }
}
</script>

<style>
    .button-kit {
        display: flex;
        justify-content: space-around;
    }
</style>
