<template>
    <button class="button">{{text}}
        <i class="material-icons">
            {{iconName}}
        </i>
</button>
</template>

<script>
export default {
  name: 'Button',
  props: {
      text: String,
      iconName: String
  }
}
</script>

<style>
    .button{
        width: 140px;
        height: 40px;
        border-radius: 5px;
        background-color: #42b983;
        font-size: 15px;
        border: none;
        box-shadow: 0 0 4px;
        cursor: pointer;
    }
    .button:disabled{
        background-color: #b8c9c1;

    }
    /* .button_active{
    } */
</style>