<template>
    <div class="list">
        <ListElement class="list__element" 
        v-for="(element, index) in bucketElements" 
        :key="element.id" 
        :element="element"
        :index="index"/>
    </div>
</template>

<script>
import ListElement from './__element/__element'
export default {
    name : 'List',
    components: {
        ListElement
    },
    computed : {
        bucketElements () {
                return this.$store.getters.bucketElements
            },
    }
}
</script>

<style>
    .list {
        height: 55vh;
        display: flex;
        flex-direction: column; 
        border: 1px solid black;
        border-radius: 3px;
        overflow-y: scroll;
    }
    .list__element {
        margin: 5px;
    }    
</style>