<template>
    <div class="button-kit">
        <Button :iconName="'expand_less'" :disabled="firstElement || emptyShopList" @click.native="previousElement"/>
        <Button :iconName="'expand_more'" :disabled="lastElement || emptyShopList" @click.native="nextElement"/>
        <Button :text="'Добавить'" :disabled="emptyShopList" @click.native="moveElementToBucket"/>
    </div>
</template>

<script>
import Button from '../../button/button'
export default {
  name: 'ShopButtonKit',
  components : {
      Button
  },
  computed : {
      firstElement () {
          return this.$store.getters.firstElement
      },
      lastElement () {
          return this.$store.getters.lastElement
      },
      emptyShopList () {
          return this.$store.getters.emptyShopList
      },
  },
  methods : {
      previousElement : function () {
          this.$store.commit('previousElement')
      },
      nextElement : function () {
          this.$store.commit('nextElement') 
      },
      moveElementToBucket : function () {
        let last = this.$store.getters.lastElement
        this.$store.commit('getElementFromShop', this.$store.getters.shopElements[this.$store.getters.index])
        this.$store.commit('moveElementToBucket')
        if (last) {
            this.$store.commit('previousElement')
        }
      }
  }
}
</script>

<style>
    .button-kit {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }
</style>
