<template>
    <div class="checkbox-section" @click="clickCheckbox(index)">
        <div class="checkbox-section__checkbox">
            <!-- <div class="checkbox__checkmark" > -->
                <i class="material-icons checkbox-section_done" v-if="selectedElementsIndexes.indexOf(index)!=-1">
                    done
                </i>
            <!-- </div> -->
        </div>
    </div>
</template>

<script>
export default {
    name: 'CheckboxSection',
    props: {
        index: Number
    },
    computed: {
        selectedElementsIndexes () {
            return this.$store.getters.selectedElementsIndexes
        }
    },
    methods : {
        clickCheckbox : function (index) {
            this.$store.dispatch('clickCheckbox',index)
        }
    }
}
</script>

<style>
    .checkbox-section__checkbox{
        height: 30px;
        width: 30px;
        border: 1px solid #000;
        cursor: pointer; 
    }
    .checkbox-section .checkbox-section_done{
        font-size: 30px ;
    }
</style>