<template>
    <div class="element">
            <div class="element__text-section">
                <!-- make assumption that we get json from trusted source and we should not care about xss vulnerabilities in v-html -->
                <p class="element__id" v-html="'Арт.: ' + element.artNo"></p>
                <p class="element__name" v-html="element.name"></p>
                <p class="element__description" v-html="element.description"></p>
            </div>
            <CheckboxSection class="element__checkbox-section" :index="index"/>
        </div>
</template>

<script>
import CheckboxSection from './__checkbox-section/__checkbox-section'
export default {
    name: 'ListElement',
    props: {
        element: Object,
        index: Number
    },
    components: {
        CheckboxSection
    }
}
</script>

<style scoped>
    .element {
        display: flex;
        flex-direction: row;
        background-color: rgb(202, 255, 246);
    }

    .element__text-section {
        width: 85%;
        overflow: hidden;
        line-height: 20px;
        padding: 4px;
    }
    .element__description{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        margin: 0;

    }
    .element__checkbox-section {
        width: 15%;
        margin: auto;
    }
</style>