<template>
    <div class="form">
        <div class="title form__title">
            <div class="element">
                <div class="title__id">Артикул</div>
                <div class="title__name">Наименование</div>
            </div>
        </div>
        <div class="elements form__elements">
            <div class="element elements__element" 
            :class="{element_chosen : i==index}"
            v-for="(element, i) in shopElements" 
            :key="element.id">
                <div class="element__id">{{element.artNo.replace(/<.*?>/g,'')}}</div>
                <div class="element__name">{{element.name.replace(/<.*?>/g,'')}}</div>        
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Form',
        computed: {
            shopElements () {
                return this.$store.getters.shopElements
            },
            index () {
                return this.$store.getters.index
            }
        }
    }
</script>

<style scoped>
    .form {
        height: 55vh;
        display: flex;
        flex-direction: column; 
        border: 1px solid black;
        border-radius: 3px;
    }
    .title {
        font-size: 15px;
    }
    .title__id {
        width: 20%;
        padding: 10px;
    }
    .title__name {
        width: 84%;
        border-left: 1px solid #000;
        padding: 10px;

    }
    .element {
        display: flex;
        text-align: center;
        border-bottom: 1px solid #000;
    }
    
    .element:nth-child(even){
        background-color: rgb(202, 255, 246);
    }
    .elements .element_chosen{
        background-color: #42b983 ;
    }
    .elements {
        height: 100%;
        overflow-y: scroll;
    }
    .element__id {
        width: 20%;
    }
    .element__name {
        width: 80%;
        border-left: 1px solid #000;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        padding: 0 10px;
    }

</style>
