<template>
  <div id="app">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <Shop/>
    <Bucket/>
  </div>
</template>

<script>
import Shop from './components/shop/shop'
import Bucket from './components/bucket/bucket'
export default {
  name: 'app',
  components: {
    Shop,
    Bucket
  }
}
</script>

<style>
*, *::before, *::after{
  box-sizing: border-box;
}
#app {
  max-width: 1300px;
  display: flex;  
  justify-content: space-around;
  flex-wrap: wrap;
}
</style>
