<template>
    <div class="bucket">
        <List class="bucket__list"/>        
        <BucketButtonKit class="bucket__button-kit"/>    
    </div>
</template>

<script>
import BucketButtonKit from './__button-kit/__button-kit'
import List from './list/list'
export default {
    components : {
        List,
        BucketButtonKit
    }
}
</script>

<style>
    .bucket {
        width: 45%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-width: 500px;
    }
</style>